*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    width: 100%;
}
body{
    width: 100%;
}
main{
    width: 100%;
    overflow: hidden;
}
.description{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../images/sunabackground.png);
    background-position: center;
}
.container{
    width: fit-content;
    color: white;
    margin-top: 50px;
    text-align: center;
}

.container img{
width: 1000px;
filter: drop-shadow(10px 5px 2px rgba(0, 0, 0, 0.2));
}
.container h2{
    font-size: 40px;
    text-align: center;
}
.container p{
    font-size: 20px;
    width: 80%;
    margin: 50px auto 0 auto;
    text-align: center;
    line-height: 2.0;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.5);
}
.vertical-slider__wrap{
    width: fit-content;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
}
.vertical-area{
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.heading-wrap{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}   
.vertical-area h2{
    color: white;
    font-size: 56px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.vertical-area h2 span{
    display: block;
}
.vertical-area .vertical-wrap{
    width: 100%;
    height: 100%;
    position: relative;
}
.vertical-area .img-wrap .mask{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,.1);
    z-index: 1;
}
.js-img {
    width: 100%;
    height: 100%;
}
.js-img > div {
    min-width: 400px;
    min-height: 400px;
    height: 100%;
    width: 80%;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    top: 10%;
    right: -15%;
    pointer-events: auto;
}
.sec01 {
    background-image: url(../images/Group31.png);
}
.sec02 {
    background-image: url(../images/Group32.png);
}
.sec03 {
    background-image: url(../images/Group27.png);
}
.js-img > div > img {
    width: 80%;
    height: auto;
    margin: 0 auto;
    object-fit: cover;
}
.js-img > div > p {
    display: flex;
    justify-content: center;
    margin: 40px auto;
}
.vertical-area .vertical-wrap img{
    width: 60%;
    margin: 0 auto;
    object-fit: cover;
}
.teal{
    background-color:#ffe500;
}
.maroon{
    /* background-color: maroon; */
    background-color: #A6D3E1;
}
.olive{
    background-color: #A5DD91;
}
.last-area{
    background-color: #222;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.last-area h2{
    color: white;
    font-size: 40px;
}
.proxy{
    position: absolute;
    visibility: hidden;
}
.sec01-text {
    position: absolute;
    bottom:30%;
    left: 5%;
    /* width: px; */
margin: 0 auto;
/* padding-top: 30px; */
font-size: 18px;
color: #000;
line-height: 2.2;
  }
.sec01-title {
margin: 20px auto;
font-size: 38px;
color: #fff;
font-weight: bold;
}

.footer-container{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-image: url('../images/eveningsuna.webp');
}
.sec_titleimg {
    position: absolute;
    top:-5%;
    left: 0%;
    width: 80%;
    height: 100%;
}
.sec_video {
    position: absolute;
    top:20%;
    left: 15%;
}